@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");
html, .full-height {
  height: 100%;
}
.map-height {
  min-width: 100%;
  min-height: 50%
}
.problemMap {
  min-width: 100%;
  min-height: 200px;
}
body {
  margin: 0;
  font-family: "Arial", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding-bottom: 100px;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
/*flags*/

.iti-flag {
  background-image: url("../img/flags.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-image: url("../img/flags@2x.png");
  }
}
textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.language {
  min-width: 100%;
}
#language {
  width: 100px;
}
#menuItems li {
  margin-right: 5px;
}
.mbottom {
  margin-bottom: 5px;
}
/*homepage*/

#typeWrite {
  font-family: 'Courier New';
}
#myVideo {
  max-height: 90% !important;
  overflow: hidden;
}
// control panel
#tarteaucitron {}
// Main banner
#tarteaucitronAlertBig {}
// Little banner on bottom right
#tarteaucitronAlertSmall {}
input[type="radio"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="radio"]+label:before {
  background-color: white;
  border: 1px solid #5BC839;
  border-radius: 10px;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
input[type="radio"]:checked+label:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background: #fff;
  color: #5BC839;
  content: "\f058";
  border: none;
}
#propositionsForm, #newVoteForm {
  padding: 5px;
}
#propositionsForm .row, #newVoteForm .row {
  margin: 5px;
}
[id^=newText] {
  min-width: 200px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.pushDown {
  min-height: 65px !important;
  display: block;
}
/*Bootstrap overrides*/

.navbar-brand {
  padding: 5px;
}
.tooltip .tooltip-inner {
  background-color: #B3B3B3;
  border: solid 1px #fff;
}
.tooltip .arrow:before {
  background-color: #B3B3B3;
}
.card:hover {
  opacity: 0.50;
  cursor: pointer;
}
footer {
  margin-top: 60px;
  clear: both;
  margin-bottom: 10px;
  padding: 10px;
  border-top: solid 4px #5BC839;
}
footer a
{
  padding-left:10px;
  padding-right:10px;
}
a[href$="Carousel"] span {
  font-size: 2em;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #5BC839;
  background-color: #fff;
}
.nav-pills>li>a {
  border-radius: 0px;
}
.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 8vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.badges {
  height: 75px;
  width: 75px;
  display: inline-block;
  margin-top: 10px;
}
/*input{
	letter-spacing: 1.2px;
}*/

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: #FFF;
}
.dropdown-menu>li>a {
  font-weight: 600;
}
.marginbt100 {
  margin-bottom: 10%;
}
/*COLORS*/

/*background*/

.green, .navbar-default, div.tagsinput span.tag, .hovered, .solucracy_btn, #actions div, .roundedOne label:after, .roundedOne, .form_clause, .form_notif, .greenBtn, .s_left, .gradient {
  background-color: #5BC839;
}
.red, .stat, .voteHover, .whiteBtn:hover, #notifs, #expandMap, .redRound, .red, div.tagsinput span.tag {
  background-color: #da3232;
}
.white, div.tagsinput, #requirementsOverlay, #notifications div>h4:hover, .plus, #unread, #requirementsOverlay>table, .swap, .clauseSlide, .topic_sharenvote, .topic_pix img, .popUpCloser, .whiteBtn, .greenBtn:hover, .lang:hover, body, .solucracy_btn:hover, .lang_selected {
  background-color: #FFF;
}
.gray {
  background-color: #B3B3B3;
}
.black, .roundedOne label {
  background-color: #000;
}
/*font*/

.font_red, .swap:after, .votedNo>span, .whiteBtn, .votedNo {
  color: #da3232;
}
.font_gray {
  color: #B3B3B3;
}
.font_white, #article_list, .cup, .up, .redRound, #voteHeader, #actions div, .clause_text, .form_clause, .form_notif, .votedYes, .whiteBtn:hover, .greenBtn, #notifs, .stat, #expandMap, .solucracy_btn {
  color: #FFF;
}
.font_green, .swap:before, #notifications div>h4:hover, .greenBtn:hover, .lang:hover, .lang_selected, #topic_sharenvote span, .page_nb_selected, .help, #footer_content, #footer_content a, .solucracy_btn:hover {
  color: #5BC839;
}
.font_black, #unread {
  color: #000;
}
.font_blue {
  color: #339af0;
}
/*border*/

.noBorder {
  border: none;
}
.greenBorder, .userLocInput, .greenBtn:hover, .roundedOne label {
  border: 2px solid #5BC839;
}
.redBorder, .voteHover, .topic_sharenvote, .whiteBtn, #related td, #expandMap, .redRound {
  border: 2px solid #da3232;
}
.grayBorder {
  border: 2px solid #B3B3B3;
}
.whiteBorder, .stat, .solucracy_btn, .hovered, .popUpCloser, #user_pix, .greenBtn {
  border: 2px solid #FFF;
}
.blackBorder {
  border: 2px solid #000;
}
.faded_green {
  color: rgba(91, 200, 57, 0.2) !important;
}
.faded_gray_bkgd {
  background-color: rgba(179, 179, 179, 0.2) !important;
}
.faded_red_bkgd {
  background-color: rgba(218, 50, 50, 0.1) !important;
}
.faded_red_bkgd2 {
  background-color: rgba(218, 50, 50, 0.5) !important;
}
.faded_green_bkgd {
  background-color: rgba(91, 200, 57, 0.1) !important;
}
.faded_green_bkgd2 {
  background-color: rgba(91, 200, 57, 0.5) !important;
}
.rounded {
  border-radius: 100%;
  width: 75%;
  padding-bottom: 75%;
  text-align: center;
}
.sideBorder {
  border-top: none;
  border-bottom: none;
}
/*padding*/

.redBorder, .grayBorder, .padding2, .greenBorder, .jqx-alert, .whiteBtn, #related td, #expandMap, .redRound, .userLocInput, .lang:hover, .pages, .roundedOne label {
  padding: 2px;
}
.padding5 {
  padding: 5px;
}
.no-padding {
  padding: 0px;
}
.votedYes {
  background-color: #da3232;
}
/*margin*/

.margin5, #newProblemForm>.row, #newSolutionForm>.row, #newPropositionForm>.row {
  margin: 5px;
}
/*width*/

.fullWidth {
  width: 100%;
}
.wrap {
  overflow-wrap: break-word;
}
/*paging*/

.pages {
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding: 5px;
}
#start {
  background-image: url("../img/start.png");
  min-height: 33px;
  min-width: 40px;
}
#end {
  background-image: url("../img/end.png");
  min-height: 33px;
  min-width: 40px;
}
#previous {
  background-image: url("../img/previous.png");
  min-height: 33px;
  min-width: 40px;
}
#next {
  background-image: url("../img/next.png");
  min-height: 33px;
  min-width: 40px;
}
#current {
  background-image: url("../img/current.png");
  min-height: 33px;
  min-width: 33px;
}
#start:hover {
  background-image: url("../img/start-hovered.png");
}
#end:hover {
  background-image: url("../img/end-hovered.png");
}
#previous:hover {
  background-image: url("../img/previous-hovered.png");
}
#next:hover {
  background-image: url("../img/next-hovered.png");
}
#current:hover {
  background-image: url("../img/current-hovered.png");
}
/*header*/

#logo {
  width: 400px;
  height: 50px;
}
@media (max-height: 300px) {
  header {
    height: 50px;
  }
  #logo {
    width: 200px;
    height: 25px;
  }
}
#popup_title {
  display: inline-block;
  margin: 10px auto;
}
.lang, .lang:hover {
  cursor: pointer;
  font-size: 1.2em;
  padding: 5px;
}
#notifs {
  border-radius: 15px;
  padding: 2px;
  min-height: 25px;
  min-width: 25px;
  text-align: center;
}
#notifs:hover {
  cursor: pointer;
  opacity: 0.50;
}
.greenBtn {
  padding: 5px;
  border-radius: 20px;
  width: auto;
  display: inline-block;
  text-decoration: none;
}
.whiteBtn {
  padding: 3px;
  border-radius: 20px;
  width: auto;
  display: inline-block;
  text-decoration: none;
}
.link {
  color: rgba(91, 200, 57, 1);
  padding: 5px;
}
.link:hover {
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
  color: rgba(91, 200, 57, 1);
}
.solucracy_btn {
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  line-height: 25px;
  text-transform: uppercase;
  padding: 2px;
  border: 2px solid #5BC839;
  background-color: rgba(91, 200, 57, 0.5) !important;
  color: white !important;
  font-weight: 300;
}
.solucracy_btn:hover {
  text-decoration: none;
  background-color: rgba(91, 200, 57, 1) !important;
}
/*a.solucracy_btn, button.solucracy_btn  {
	display : inline-block;
	text-decoration : none;
	text-align : center;
	line-height : 25px;
	text-transform: uppercase;
}*/

/*a.solucracy_btn.btn_large {
	width : 150px;
}

button.solucracy_btn.btn_large  {
	width: auto;
}*/

#login_form a {
  margin-right: 1px;
}
#user_pix {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 64px;
}
#user_pix img {
  width: 98%;
  height: 98%;
  vertical-align: middle;
}
#user_aside {
  display: inline-block;
  vertical-align: middle;
}
#user_aside a {
  color: white;
}
.help {
  width: 32px;
  height: 32px;
}
.bold {
  font-weight: 900;
}
#warning {
  color: red;
}
.scopeTitle {
  max-width: 80%;
  margin: 0 auto;
}
.triangleTopRight {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-right: 15px solid #5BC839;
  float: right;
}
.triangleBottomLeft {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 30px solid #da3232;
  border-right: 15px solid transparent;
  bottom: 0;
}
/* applied to the alert */

.jqx-alert {
  display: inline-block;
  position: absolute;
  z-index: 99999;
  margin: 0;
  padding: 5px;
  width: 500px !important;
  padding: 15px;
  border-radius: 150px;
}
/*applied to the header */

.jqx-alert-header {
  outline: none;
  overflow: hidden;
  height: 0;
  white-space: nowrap;
}
/*applied to the content*/

.jqx-alert-content {
  display: table;
  outline: none;
  text-align: left;
  overflow-wrap: break-word;
  max-width: 80%;
  min-height: 100%;
}
#message {
  display: table-cell;
  vertical-align: middle;
  min-height: 100%;
  min-width: 100%;
}
#alert_button {
  text-align: center;
}
.popUpCloser {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2em;
  cursor: pointer;
  border-radius: 150px;
}
/*Main*/

@media (max-width: 1450px) {
  #problemStatus {
    max-width: 80px;
  }
}
#search_bar input {
  border: none;
  font-size: 20px;
  vertical-align: middle;
  width: calc(100% - 30px);
  outline: none;
  margin-top: 0.5%;
}
#search_bar i {
  vertical-align: middle;
  font-size: 20px;
  cursor: pointer;
}
#search_bar input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}
#search_bar input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
}
#search_bar input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
}
#search_bar input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}
#notifications div>h4:hover {
  opacity: 0.50;
  cursor: pointer;
}
#catContainer {
  position: absolute;
  z-index: 99;
  height: 25%;
  left: 3%;
  bottom: 0px;
  width: 100%
}
.littleTitle {
  font-size: 1.3em;
}
.littleTitle~span {
  font-size: 1em;
  font-style: italic;
  margin-left: 5px;
}
.clickable {
  cursor: pointer;
}
.littleTitle~span:before {
  content: "(";
}
.littleTitle~span:after {
  content: ")";
}
.littleTitleIcon {
  margin-right: 5px;
  font-size: 0.77em;
}
.page_nb_selected {
  font-size: 1.2em;
}
.date {
  font-size: 0.7em;
  letter-spacing: 1.5px;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}
.solutions {
  font-size: 1em;
  letter-spacing: 1.5px;
  position: absolute;
  bottom: 0;
  right: 5px;
  margin-bottom: 5px;
}
.topic_pix {
  display: inline-block;
  float: top left;
}
.topic_pix img {
  line-height: 64px;
  width: 40px;
  height: 40px;
  border-radius: 32px;
}
.topic_sharenvote {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  border-radius: 50px;
  padding: 2% 5% 0.5%;
  line-height: 0.5em;
}
#topic_sharenvote span {
  font-weight: bold;
  margin-right: 3px;
}
.word {
  font-size: 0.5em;
}
.voteHover {
  opacity: 0.25;
  cursor: pointer;
}
/*new problem / solution  form*/

.clauseSlide {
  display: inline-block;
  width: 55%;
}
.itemThumbNail {
  min-height: 150px;
}
.solutionThumbNail {
  min-height: 150px;
}
.solutionThumbNail:hover {
  background-color: #5BC839;
  opacity: 0.50;
  cursor: pointer;
}
.propThumbnail {
  height: 80px;
  overflow: hidden;
  position: relative;
}
#locationSearch .fa-search {
  margin-right: 3px;
  cursor: pointer;
}
.form_clause {
  max-width: 90%;
}
.clause_text {
  display: inline-block;
  max-width: 80%;
  height: 100%;
  margin-top: 10px;
}
.clauseSlide {
  width: 90%;
  margin-left: 10px;
}
/*styling checkboxes*/

.form_clause input[type=checkbox], .form_notif input[type=checkbox], .hidden {
  visibility: hidden;
}
/* swap Clause */

.swap {
  display: inline-block;
  width: 80px;
  margin: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
}
.swap:after {
  font-family: "Font Awesome 5 Free";
  content: '\f165';
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}
.swap:before {
  font-family: "Font Awesome 5 Free";
  content: '\f164';
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}
.swap label {
  display: block;
  width: 34px;
  height: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.swap input[type=checkbox]:checked+label {
  left: 43px;
}
/* redesign jqueryUI tagsinput */

div.tagsinput {
  border: 2px solid #B3B3B3 !important;
  min-width: 75%;
}
div.tagsinput input {
  font-family: inherit !important;
  color: black !important;
  font-weight: bolder !important;
  font-size: 1.2em !important;
}
.ui-widget {
  font-family: inherit !important;
}
.ui-widget-content a {
  color: #2E661E !important;
}
.ui-menu .ui-menu-item a.sbiAnchor.ui-state-hover {
  background: blue;
}
div.tagsinput span.tag {
  background: rgba(91, 200, 57, 0.5) !important;
  color: #FFF !important;
}
div.tagsinput span.tag a {
  color: #FFF !important;
}
/***/

.input_caption {
  font-style: italic;
  font-size: 0.8em;
  text-align: left;
}
.error {
  background: #FF9966;
}
.share {
  min-width: 95%;
  padding: 10px;
}
#actions {
  width: 100%;
  height: 100px;
  position: relative;
  text-align: center;
}
#requestPassword {
  display: inline-block;
}
#actions div {
  display: inline-block;
  border: 15px solid #5BC839;
  border-radius: 500px;
  padding: 5px;
  max-width: 10%;
  margin-left: 5px;
  margin-top: 5px;
  position: absolute;
}
#accountcreated, #no-email, #notNow, #join {
  text-align: center;
}
#newUserForm {
  padding: 0 10px;
}
.input input {
  width: 100%;
}
#no-email {
  padding: 2px;
  width: auto;
}
ul {
  list-style-type: none;
}
ol {
  text-align: left;
  margin-left: 10px;
}
/*Tagsinput*/

div.tagsinput {
  border: 1px solid #CCC;
  width: 200px;
  height: 100px;
  overflow-y: auto;
}
div.tagsinput span.tag {
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: helvetica;
  font-size: 13px;
}
div.tagsinput span.tag a {
  font-weight: bold;
  color: #82ad2b;
  text-decoration: none;
  font-size: 11px;
}
div.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: serif;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 5px;
  background: transparent;
  outline: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
div.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}
/*Solutions*/

#solutionDescription {
  overflow-wrap: break-word;
}
#solutionImg {
  display: inline-block;
  width: 15%;
  margin: 10px;
  float: left;
}
#solutionImg img {
  max-height: 100%;
  max-width: 100%;
}
.homeImage {
  height: 100px;
  width: 100px;
}
#voteBtns {
  display: block;
  position: relative;
  top: 10px;
}
#inside {
  position: absolute;
  z-index: 999;
  padding: 5px;
}
#inside label {
  padding: 5px;
}
/*problem page*/

.redRound {
  width: 100px;
  height: 100px;
  border-radius: 110px;
  font-size: 2em;
  margin: 0 auto;
}
.redRound span {
  float: left;
  clear: left;
  min-width: 100%;
  line-height: normal;
}
#infos img {
  width: 100px;
  height: auto;
}
.gradient {
  padding: 6px;
  border-radius: 50px;
}
.spam {
  padding: 6px;
  margin: 5px;
  text-align: center;
}
#mapContainer {
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
#expandBtn {
  position: absolute;
  top: 10px;
  left: 10%;
  z-index: 99;
}
#expandMap {
  border-radius: 100px;
  padding: 2px;
  cursor: pointer;
}
#related {
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
}
.text {
  display: inline-block;
  width: 90%;
  padding-left: 20px;
}
/*profile page*/

#user_stats {
  display: inline-block;
  border-spacing: 0;
  margin: 50px;
}
#commonProblems {
  display: inline-block;
  vertical-align: top;
}
.stat_container {
  display: block;
  width: 200px;
  height: 100%;
}
.stat {
  max-height: 25%;
  min-width: 20%;
  min-height: 5%;
  padding: 5px;
}
.s_left {
  float: right;
  margin-left: 100%;
}
.stat>p {
  font-size: 3em;
  margin: 0;
}
.right_row {
  float: right;
}
/*External*/

/*JQUERY UI*/

.ui-helper-hidden {
  display: none
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none
}
.ui-helper-clearfix:after, .ui-helper-clearfix:before {
  content: "";
  display: table;
  border-collapse: collapse
}
.ui-helper-clearfix:after {
  clear: both
}
.ui-helper-clearfix {
  min-height: 0
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0)
}
.ui-front {
  z-index: 100
}
.ui-state-disabled {
  cursor: default!important
}
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0;
  padding: .5em .5em .5em .7em;
  min-height: 0;
  font-size: 100%
}
.ui-accordion .ui-accordion-icons, .ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px
}
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  z-index: 9999
}
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible
}
.ui-button, .ui-button:active, .ui-button:hover, .ui-button:link, .ui-button:visited {
  text-decoration: none
}
.ui-button-icon-only {
  width: 2.2em
}
button.ui-button-icon-only {
  width: 2.4em
}
.ui-button-icons-only {
  width: 3.4em
}
button.ui-button-icons-only {
  width: 3.7em
}
.ui-button .ui-button-text {
  display: block;
  line-height: normal
}
.ui-button-text-only .ui-button-text {
  padding: .4em 1em
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px
}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em
}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em
}
.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em
}
input.ui-button {
  padding: .4em 1em
}
.ui-button-icon-only .ui-icon, .ui-button-icons-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px
}
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px
}
.ui-button-icons-only .ui-button-icon-primary, .ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary {
  left: .5em
}
.ui-button-icons-only .ui-button-icon-secondary, .ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary {
  right: .5em
}
.ui-buttonset {
  margin-right: 7px
}
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -.3em
}
button.ui-button::-moz-focus-inner, input.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0
}
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0
}
.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em
}
.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-prev-hover {
  top: 1px
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px
}
.ui-datepicker .ui-datepicker-next {
  right: 2px
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px
}
.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: 700;
  border: 0
}
.ui-datepicker td {
  border: 0;
  padding: 1px
}
.ui-datepicker td a, .ui-datepicker td span {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em;
  width: auto;
  overflow: visible
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left
}
.ui-datepicker.ui-datepicker-multi {
  width: auto
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0
}
.ui-datepicker-rtl {
  direction: rtl
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
  float: right
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px
}
.ui-dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0
}
.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative
}
.ui-dialog .ui-dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 20px;
  margin: -10px 0 0;
  padding: 1px;
  height: 20px
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: 0 0;
  overflow: auto
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer
}
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px
}
.ui-draggable .ui-dialog-titlebar {
  cursor: move
}
.ui-draggable-handle {
  -ms-touch-action: none;
  touch-action: none
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0
}
.ui-menu .ui-menu {
  position: absolute
}
.ui-menu .ui-menu-item {
  position: relative;
  margin: 0;
  padding: 3px 1em 3px .4em;
  cursor: pointer;
  min-height: 0;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)
}
.ui-menu .ui-menu-divider {
  margin: 5px 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0
}
.ui-menu .ui-state-active, .ui-menu .ui-state-focus {
  margin: -1px
}
.ui-menu-icons {
  position: relative
}
.ui-menu-icons .ui-menu-item {
  padding-left: 2em
}
.ui-menu .ui-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .2em;
  margin: auto 0
}
.ui-menu .ui-menu-icon {
  left: auto;
  right: 0
}
.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden
}
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%
}
.ui-progressbar .ui-progressbar-overlay {
  background: url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/animated-overlay.gif);
  height: 100%;
  filter: alpha(opacity=25);
  opacity: .25
}
.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none
}
.ui-resizable {
  position: relative
}
.ui-resizable-handle {
  position: absolute;
  font-size: .1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none
}
.ui-resizable-autohide .ui-resizable-handle, .ui-resizable-disabled .ui-resizable-handle {
  display: none
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px
}
.ui-selectable {
  -ms-touch-action: none;
  touch-action: none
}
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted #000
}
.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none
}
.ui-selectmenu-menu .ui-menu {
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 1px
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  padding: 2px .4em;
  margin: .5em 0 0;
  height: auto;
  border: 0
}
.ui-selectmenu-open {
  display: block
}
.ui-selectmenu-button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: pointer
}
.ui-selectmenu-button span.ui-icon {
  right: .5em;
  left: auto;
  margin-top: -8px;
  position: absolute;
  top: 50%
}
.ui-selectmenu-button span.ui-selectmenu-text {
  text-align: left;
  padding: .4em 2.1em .4em 1em;
  display: block;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.ui-slider {
  position: relative;
  text-align: left
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0
}
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit
}
.ui-slider-horizontal {
  height: .8em
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0
}
.ui-slider-vertical {
  width: .8em;
  height: 100px
}
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0
}
.ui-sortable-handle {
  -ms-touch-action: none;
  touch-action: none
}
.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle
}
.ui-spinner-input {
  border: none;
  background: 0 0;
  color: inherit;
  padding: 0;
  margin: .2em 22px .2em .4em;
  vertical-align: middle
}
.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0
}
.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none
}
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 0
}
.ui-spinner-up {
  top: 0
}
.ui-spinner-down {
  bottom: 0
}
.ui-spinner .ui-icon-triangle-1-s {
  background-position: -65px -16px
}
.ui-tabs {
  position: relative;
  padding: .2em
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: .5em 1em;
  text-decoration: none
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px
}
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer
}
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: 0 0
}
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa
}
body .ui-tooltip {
  border-width: 2px
}
.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em
}
.ui-widget .ui-widget {
  font-size: 1em
}
.ui-widget button, .ui-widget input, .ui-widget select, .ui-widget textarea {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em
}
.ui-widget-content {
  border: 1px solid #aaa;
  background: #fff url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
  color: #222
}
.ui-widget-content a {
  color: #222
}
.ui-widget-header {
  border: 1px solid #aaa;
  background: #ccc url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #222;
  font-weight: 700
}
.ui-widget-header a {
  color: #222
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  font-weight: 400;
  color: #555
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555;
  text-decoration: none
}
.ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover {
  border: 1px solid #999;
  background: #dadada url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
  font-weight: 400;
  color: #212121
}
.ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited, .ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
  color: #212121;
  text-decoration: none
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #aaa;
  background: #fff url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: 400;
  color: #212121
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121;
  text-decoration: none
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a
}
.ui-state-error a, .ui-state-error-text, .ui-widget-content .ui-state-error a, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error a, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: 700
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: 400
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none
}
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35)
}
.ui-icon {
  width: 16px;
  height: 16px
}
.ui-icon, .ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
  background-image: url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-icons_222222_256x240.png)
}
.ui-state-default .ui-icon {
  background-image: url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-icons_888888_256x240.png)
}
.ui-state-active .ui-icon, .ui-state-focus .ui-icon, .ui-state-hover .ui-icon {
  background-image: url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-icons_454545_256x240.png)
}
.ui-state-highlight .ui-icon {
  background-image: url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-icons_2e83ff_256x240.png)
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-icons_cd0a0a_256x240.png)
}
.ui-icon-blank {
  background-position: 16px 16px
}
.ui-icon-carat-1-n {
  background-position: 0 0
}
.ui-icon-carat-1-ne {
  background-position: -16px 0
}
.ui-icon-carat-1-e {
  background-position: -32px 0
}
.ui-icon-carat-1-se {
  background-position: -48px 0
}
.ui-icon-carat-1-s {
  background-position: -64px 0
}
.ui-icon-carat-1-sw {
  background-position: -80px 0
}
.ui-icon-carat-1-w {
  background-position: -96px 0
}
.ui-icon-carat-1-nw {
  background-position: -112px 0
}
.ui-icon-carat-2-n-s {
  background-position: -128px 0
}
.ui-icon-carat-2-e-w {
  background-position: -144px 0
}
.ui-icon-triangle-1-n {
  background-position: 0 -16px
}
.ui-icon-triangle-1-ne {
  background-position: -16px -16px
}
.ui-icon-triangle-1-e {
  background-position: -32px -16px
}
.ui-icon-triangle-1-se {
  background-position: -48px -16px
}
.ui-icon-triangle-1-s {
  background-position: -64px -16px
}
.ui-icon-triangle-1-sw {
  background-position: -80px -16px
}
.ui-icon-triangle-1-w {
  background-position: -96px -16px
}
.ui-icon-triangle-1-nw {
  background-position: -112px -16px
}
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px
}
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px
}
.ui-icon-arrow-1-n {
  background-position: 0 -32px
}
.ui-icon-arrow-1-ne {
  background-position: -16px -32px
}
.ui-icon-arrow-1-e {
  background-position: -32px -32px
}
.ui-icon-arrow-1-se {
  background-position: -48px -32px
}
.ui-icon-arrow-1-s {
  background-position: -64px -32px
}
.ui-icon-arrow-1-sw {
  background-position: -80px -32px
}
.ui-icon-arrow-1-w {
  background-position: -96px -32px
}
.ui-icon-arrow-1-nw {
  background-position: -112px -32px
}
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px
}
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px
}
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px
}
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px
}
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px
}
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px
}
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px
}
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px
}
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px
}
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px
}
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px
}
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px
}
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px
}
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px
}
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px
}
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px
}
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px
}
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px
}
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px
}
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px
}
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px
}
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px
}
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px
}
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px
}
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px
}
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px
}
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px
}
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px
}
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px
}
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px
}
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px
}
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px
}
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px
}
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px
}
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px
}
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px
}
.ui-icon-arrow-4 {
  background-position: 0 -80px
}
.ui-icon-arrow-4-diag {
  background-position: -16px -80px
}
.ui-icon-extlink {
  background-position: -32px -80px
}
.ui-icon-newwin {
  background-position: -48px -80px
}
.ui-icon-refresh {
  background-position: -64px -80px
}
.ui-icon-shuffle {
  background-position: -80px -80px
}
.ui-icon-transfer-e-w {
  background-position: -96px -80px
}
.ui-icon-transferthick-e-w {
  background-position: -112px -80px
}
.ui-icon-folder-collapsed {
  background-position: 0 -96px
}
.ui-icon-folder-open {
  background-position: -16px -96px
}
.ui-icon-document {
  background-position: -32px -96px
}
.ui-icon-document-b {
  background-position: -48px -96px
}
.ui-icon-note {
  background-position: -64px -96px
}
.ui-icon-mail-closed {
  background-position: -80px -96px
}
.ui-icon-mail-open {
  background-position: -96px -96px
}
.ui-icon-suitcase {
  background-position: -112px -96px
}
.ui-icon-comment {
  background-position: -128px -96px
}
.ui-icon-person {
  background-position: -144px -96px
}
.ui-icon-print {
  background-position: -160px -96px
}
.ui-icon-trash {
  background-position: -176px -96px
}
.ui-icon-locked {
  background-position: -192px -96px
}
.ui-icon-unlocked {
  background-position: -208px -96px
}
.ui-icon-bookmark {
  background-position: -224px -96px
}
.ui-icon-tag {
  background-position: -240px -96px
}
.ui-icon-home {
  background-position: 0 -112px
}
.ui-icon-flag {
  background-position: -16px -112px
}
.ui-icon-calendar {
  background-position: -32px -112px
}
.ui-icon-cart {
  background-position: -48px -112px
}
.ui-icon-pencil {
  background-position: -64px -112px
}
.ui-icon-clock {
  background-position: -80px -112px
}
.ui-icon-disk {
  background-position: -96px -112px
}
.ui-icon-calculator {
  background-position: -112px -112px
}
.ui-icon-zoomin {
  background-position: -128px -112px
}
.ui-icon-zoomout {
  background-position: -144px -112px
}
.ui-icon-search {
  background-position: -160px -112px
}
.ui-icon-wrench {
  background-position: -176px -112px
}
.ui-icon-gear {
  background-position: -192px -112px
}
.ui-icon-heart {
  background-position: -208px -112px
}
.ui-icon-star {
  background-position: -224px -112px
}
.ui-icon-link {
  background-position: -240px -112px
}
.ui-icon-cancel {
  background-position: 0 -128px
}
.ui-icon-plus {
  background-position: -16px -128px
}
.ui-icon-plusthick {
  background-position: -32px -128px
}
.ui-icon-minus {
  background-position: -48px -128px
}
.ui-icon-minusthick {
  background-position: -64px -128px
}
.ui-icon-close {
  background-position: -80px -128px
}
.ui-icon-closethick {
  background-position: -96px -128px
}
.ui-icon-key {
  background-position: -112px -128px
}
.ui-icon-lightbulb {
  background-position: -128px -128px
}
.ui-icon-scissors {
  background-position: -144px -128px
}
.ui-icon-clipboard {
  background-position: -160px -128px
}
.ui-icon-copy {
  background-position: -176px -128px
}
.ui-icon-contact {
  background-position: -192px -128px
}
.ui-icon-image {
  background-position: -208px -128px
}
.ui-icon-video {
  background-position: -224px -128px
}
.ui-icon-script {
  background-position: -240px -128px
}
.ui-icon-alert {
  background-position: 0 -144px
}
.ui-icon-info {
  background-position: -16px -144px
}
.ui-icon-notice {
  background-position: -32px -144px
}
.ui-icon-help {
  background-position: -48px -144px
}
.ui-icon-check {
  background-position: -64px -144px
}
.ui-icon-bullet {
  background-position: -80px -144px
}
.ui-icon-radio-on {
  background-position: -96px -144px
}
.ui-icon-radio-off {
  background-position: -112px -144px
}
.ui-icon-pin-w {
  background-position: -128px -144px
}
.ui-icon-pin-s {
  background-position: -144px -144px
}
.ui-icon-play {
  background-position: 0 -160px
}
.ui-icon-pause {
  background-position: -16px -160px
}
.ui-icon-seek-next {
  background-position: -32px -160px
}
.ui-icon-seek-prev {
  background-position: -48px -160px
}
.ui-icon-seek-end {
  background-position: -64px -160px
}
.ui-icon-seek-first, .ui-icon-seek-start {
  background-position: -80px -160px
}
.ui-icon-stop {
  background-position: -96px -160px
}
.ui-icon-eject {
  background-position: -112px -160px
}
.ui-icon-volume-off {
  background-position: -128px -160px
}
.ui-icon-volume-on {
  background-position: -144px -160px
}
.ui-icon-power {
  background-position: 0 -176px
}
.ui-icon-signal-diag {
  background-position: -16px -176px
}
.ui-icon-signal {
  background-position: -32px -176px
}
.ui-icon-battery-0 {
  background-position: -48px -176px
}
.ui-icon-battery-1 {
  background-position: -64px -176px
}
.ui-icon-battery-2 {
  background-position: -80px -176px
}
.ui-icon-battery-3 {
  background-position: -96px -176px
}
.ui-icon-circle-plus {
  background-position: 0 -192px
}
.ui-icon-circle-minus {
  background-position: -16px -192px
}
.ui-icon-circle-close {
  background-position: -32px -192px
}
.ui-icon-circle-triangle-e {
  background-position: -48px -192px
}
.ui-icon-circle-triangle-s {
  background-position: -64px -192px
}
.ui-icon-circle-triangle-w {
  background-position: -80px -192px
}
.ui-icon-circle-triangle-n {
  background-position: -96px -192px
}
.ui-icon-circle-arrow-e {
  background-position: -112px -192px
}
.ui-icon-circle-arrow-s {
  background-position: -128px -192px
}
.ui-icon-circle-arrow-w {
  background-position: -144px -192px
}
.ui-icon-circle-arrow-n {
  background-position: -160px -192px
}
.ui-icon-circle-zoomin {
  background-position: -176px -192px
}
.ui-icon-circle-zoomout {
  background-position: -192px -192px
}
.ui-icon-circle-check {
  background-position: -208px -192px
}
.ui-icon-circlesmall-plus {
  background-position: 0 -208px
}
.ui-icon-circlesmall-minus {
  background-position: -16px -208px
}
.ui-icon-circlesmall-close {
  background-position: -32px -208px
}
.ui-icon-squaresmall-plus {
  background-position: -48px -208px
}
.ui-icon-squaresmall-minus {
  background-position: -64px -208px
}
.ui-icon-squaresmall-close {
  background-position: -80px -208px
}
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px
}
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px
}
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px
}
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px
}
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px
}
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px
}
.ui-corner-all, .ui-corner-left, .ui-corner-tl, .ui-corner-top {
  border-top-left-radius: 4px
}
.ui-corner-all, .ui-corner-right, .ui-corner-top, .ui-corner-tr {
  border-top-right-radius: 4px
}
.ui-corner-all, .ui-corner-bl, .ui-corner-bottom, .ui-corner-left {
  border-bottom-left-radius: 4px
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
  border-bottom-right-radius: 4px
}
.ui-widget-overlay {
  background: #aaa url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30)
}
.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaa url(//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
  border-radius: 8px
}
/*round checkbox*/

/* ROUNDED ONE */

.roundedOne {
  width: 28px;
  height: 28px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.fa-plus-circle:hover {
  color: #5BC839;
}
.roundedOne label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 4px;
  top: 4px;
}
.roundedOne label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: 2px;
  left: 2px;
}
.roundedOne label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.roundedOne input[type=checkbox]:checked+label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
